<h1 align="center"><TEXT = #0000>----------Taiwo Oni-----------</h1>
<h2 align="center">           Fall 2017    </h2>
<h3 align="left"> <%= link_to "See messages", posts_path %></h3>
<h3 align="right"> <%= link_to "Write Messages", new_post_path %></h3>
<h4 align="center"> I am enthusiastic and high achieving IT Proffessional with a Bachelor of electrical and electronics in engineering, I specialize in VOIP Integration in (Avaya.Asterisk,3CX) and Software Programming basically Ruby on Rails, SMS Gateway in (jasmin,kannel),I have exceptional technical/software and analytical skills with over 4 years experience in Software,VOIP IP Telephony,SIP Trunk,SMS Gateway,mysql,ODBC,networking and Servers support.
        In my present roles as a Voip Engineer that support Avaya,Asterisk,3CX at Simba Group of Company, I have perform Avaya Aura Solution,IP Office Solution,Asterisk,3CX,Call center Solution both mid and enterprise level support and installtion,i also have a vast and strong knowledge of Avaya,Asterisk,3CX,Vicidial server installation and configuration,i help client both on site and remotely.
</h4>
<h5 align="left"><TEXT = #bold>             Yours Sincerely   </h5>
<h6 align="left"><TEXT = #bold>            Issa Ibrahim Taiwo  </h6>

<p text-shadow: 5px 5px 5px #FF0000;> <marquee
 direction="right"
 align="top"
>Designed by Issa Ibrahim Taiwo 
</marquee>
</p>
